tensorflow
opencv-python-headless
streamlit
h5py
onnxruntime  # If you plan to use ONNX
scikit-learn  # For general machine learning tasks if used in your project
pillow  # For image handling in case of image preprocessing
numpy  # Essential for tensor and numerical operations
SpeechRecognition
matplotlib
sounddevice